 <div class="banner">
        <div class="bgh">
            <div class="page">
                <div id="logo">
                    <a href="__MODULE__/Index/index/">
                        <img src="__PUBLIC__/images/Student/logo.gif" alt="" width="400px" height="100px" />
                    </a>
                </div>
                <div class="topxx">
                     <a href="__MODULE__/MyInfo/index/">我的信息</a>
                     <a href="__MODULE__/User/systemMsge/">通知</a>
                     <a href="__MODULE__/User/updatePassword/">密码修改</a> 
                     <a  href="__MODULE__/Login/logout">安全退出</a>
                </div>
                <div class="blog_nav">
                    <ul>
                        <li><a href="__MODULE__/Index/index/">我的信息</a></li>
                        <li><a href="__MODULE__/Education/index/">教务中心</a></li>
                        <li><a href="__MODULE__/Account/index/">我的学费</a></li>   
                    </ul>
                </div>
            </div>
        </div>
    </div>