
<div class="leftbox">
    <div class="l_nav2">
        <div class="ta1">
            <strong>个人中心</strong>
            <div class="leftbgbt">
            </div>
        </div>
        <div class="cdlist">
            <div>
                <a href="__MODULE__/MyInfo/index/">我的信息</a></div>
            <div>
                <a href="__MODULE__/MyInfo/classInfo/">班级信息 </a>
            </div>
            <div>
                <a href="__MODULE__/User/letter/">短信息</a></div>
            <div>
                <a href="__MODULE__/User/systemMsge">学院通知</a></div>
            <div>
                <a href="__MODULE__/MyInfo/objection">我的异议</a></div>
        </div>
        <div class="ta1">
            <strong>教务中心</strong>
            <div class="leftbgbt2">
            </div>
        </div>
        <div class="cdlist">
            <div>
                <a href="__MODULE__/Education/application/">我的报考</a></div>
            <div>
                <a href="__MODULE__/Education/index/">我的成绩</a></div>
            <div>
                <a href="__MODULE__/Education/book/">我的书籍</a></div>
        </div>
    
       
        <div class="ta1">
            <strong>财务中心</strong><div class="leftbgbt2">
            </div>
        </div>
        <div class="cdlist">
            <div>
                <a href="__MODULE__/Account/index/">我的财务</a></div>
        </div>
        <div class="ta1">
           
            </div>
        </div>
    </div>
