
<ul id="ulStudMsgHeadTab">
    <li><a class="tab2" onclick="" href="__MODULE__/MyInfo/index/">个人资料</a> </li>
    <li><a class="tab2" onclick="" href="__MODULE__/MyInfo/classInfo/">班级信息</a></li>
    <li><a class="tab2" onclick="" href="__MODULE__/User/letter/">短信息</a></li>
    <li><a class="tab2" onclick="" href="__MODULE__/User/systemMsge/">通知<span style="color:#ff0000; padding-left:5px;" id="unreadSysMsgCount"></span></a></li>
    <li><a class="tab2" onclick="" href="__MODULE__/MyInfo/objection">我的异议</a></li>
</ul>